<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.parse.cordova.core.pushplugin"
      version="0.1.0">
    <name>phonegap-parse-plugin</name>
    <description>phonegap parse plugin</description>

    <js-module src="www/cdv-plugin-parse.js" name="ParsePlugin">
        <clobbers target="window.parsePlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <preference name="APP_ID" />
        <preference name="CLIENT_KEY" />
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ParsePlugin">
                <param name="android-package" value="org.apache.cordova.core.ParsePlugin" />
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <service android:name="com.parse.PushService" />
          <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
              <action android:name="android.intent.action.BOOT_COMPLETED" />
              <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
          </receiver>
          <receiver android:name="com.parse.GcmBroadcastReceiver"
              android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
              <action android:name="com.google.android.c2dm.intent.RECEIVE" />
              <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
              <category android:name="$PACKAGE_NAME" />
            </intent-filter>
          </receiver>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          <uses-permission android:name="android.permission.WAKE_LOCK" />
          <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
          <uses-permission android:name="android.permission.VIBRATE" />
          <uses-permission android:name="android.permission.GET_ACCOUNTS" />
          <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
          <permission android:protectionLevel="signature" android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
          <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />
        </config-file>

        <source-file src="src/android/parse/Parse-1.9.0.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/ParsePlugin.java" target-dir="src/org/apache/cordova/core" />

        <source-file src="src/android/parseplugin.xml" target-dir="res/values" />
        <config-file target="res/values/parseplugin.xml" parent="/*">
            <string name="parse_app_id">$APP_ID</string>
            <string name="parse_client_key">$CLIENT_KEY</string>
        </config-file>
     </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ParsePlugin">
                <param name="ios-package" value="CDVParsePlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVParsePlugin.h" />
        <source-file src="src/ios/CDVParsePlugin.m" />

        <framework src="Accounts.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="Security.framework" />
        <framework src="Social.framework" />
        <framework src="StoreKit.framework" />
        <framework src="SystemConfiguration.framework" />

        <framework src="libz.dylib" />
        <framework src="libsqlite3.dylib" />

        <framework src="src/ios/Frameworks/Bolts.framework" custom="true" />
        <framework src="src/ios/Frameworks/Parse.framework" custom="true" />
    </platform>
	
	
	 <!-- wp8 -->
    <platform name="wp8">
        <config-file target="config.xml" parent="/*">
            <feature name="ParsePlugin">
                <param name="wp-package" value="ParsePlugin"/>
            </feature>
        </config-file>

        <source-file src="src/wp8/ParsePlugin.cs" />
		
		<framework src="src/wp8/parse/Parse.dll" custom="true"/>
		<framework src="src/wp8/parse/Parse.Phone.dll" custom="true"/>
		
		<config-file target="Properties/WMAppManifest.xml" parent="/Deployment/App/Capabilities">
			<Capability Name="ID_CAP_PUSH_NOTIFICATION" />
		</config-file>
    </platform>

</plugin>
