<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.apache.cordova.core.ParsePlugin"
      version="0.1.0">
    <name>phonegap-parse-plugin</name>
    <description>phonegap parse plugin</description>

    <js-module src="cdv-plugin-parse.js" name="parsePlugin">
        <clobbers target="window.parsePlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="org.apache.cordova.core.ParsePlugin">
                <param name="android-package" value="org.apache.cordova.core.ParsePlugin" />
            </feature>
        </config-file>

        <source-file src="ParsePlugin.java" target-dir="src/org/apache/cordova/core" />      
     </platform>
          
</plugin>
